In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
data = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
data.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [34]:
def get_unique_values(data):
    for column in data.columns:
        unique_values = data[column].unique()
        print(f"Column: {column}")
        print(f"Unique Values: {unique_values}")
        print("_" * 100)

get_unique_values(data)

Column: customerID
Unique Values: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
____________________________________________________________________________________________________
Column: gender
Unique Values: ['Female' 'Male']
____________________________________________________________________________________________________
Column: SeniorCitizen
Unique Values: [0 1]
____________________________________________________________________________________________________
Column: Partner
Unique Values: ['Yes' 'No']
____________________________________________________________________________________________________
Column: Dependents
Unique Values: ['No' 'Yes']
____________________________________________________________________________________________________
Column: tenure
Unique Values: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
____________________________________________________________________________________________________
Column: PhoneService
Unique Values: ['No' 'Yes']
____________________________________________________________________________________________________
Column: MultipleLines
Unique Values: ['No phone service' 'No' 'Yes']
____________________________________________________________________________________________________
Column: InternetService
Unique Values: ['DSL' 'Fiber optic' 'No']
____________________________________________________________________________________________________
Column: OnlineSecurity
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: OnlineBackup
Unique Values: ['Yes' 'No' 'No internet service']
____________________________________________________________________________________________________
Column: DeviceProtection
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: TechSupport
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: StreamingTV
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: StreamingMovies
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: Contract
Unique Values: ['Month-to-month' 'One year' 'Two year']
____________________________________________________________________________________________________
Column: PaperlessBilling
Unique Values: ['Yes' 'No']
____________________________________________________________________________________________________
Column: PaymentMethod
Unique Values: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
____________________________________________________________________________________________________
Column: MonthlyCharges
Unique Values: [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
____________________________________________________________________________________________________
Column: TotalCharges
Unique Values: ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
____________________________________________________________________________________________________
Column: Churn
Unique Values: ['No' 'Yes']
____________________________________________________________________________________________________

In [28]:
# Convert TotalCharges to float
data['TotalCharges'] = data['TotalCharges'].map({' ': 0})
data['TotalCharges'] = data['TotalCharges'].astype(float)

# Map Female -> 1 and Male -> 0 in gender
data['gender'] = data['gender'].map({'Female': 1, 'Male': 0})

change = ['Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn']
yes_no_mapping = {'Yes': 1, 'No': 0}

for column in change:
    data[column] = data[column].map(yes_no_mapping)