In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
original_data = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
original_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [30]:
def get_unique_values(data):
    for column in data.columns:
        unique_values = data[column].unique()
        print(f"Column: {column}")
        print(f"Unique Values: {unique_values}")
        print("_" * 100)

In [31]:
get_unique_values(original_data)
data = original_data.copy()

Column: customerID
Unique Values: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
____________________________________________________________________________________________________
Column: gender
Unique Values: ['Female' 'Male']
____________________________________________________________________________________________________
Column: SeniorCitizen
Unique Values: [0 1]
____________________________________________________________________________________________________
Column: Partner
Unique Values: ['Yes' 'No']
____________________________________________________________________________________________________
Column: Dependents
Unique Values: ['No' 'Yes']
____________________________________________________________________________________________________
Column: tenure
Unique Values: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
____________________________________________________________________________________________________
Column: PhoneService
Unique Values: ['No' 'Yes']
____________________________________________________________________________________________________
Column: MultipleLines
Unique Values: ['No phone service' 'No' 'Yes']
____________________________________________________________________________________________________
Column: InternetService
Unique Values: ['DSL' 'Fiber optic' 'No']
____________________________________________________________________________________________________
Column: OnlineSecurity
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: OnlineBackup
Unique Values: ['Yes' 'No' 'No internet service']
____________________________________________________________________________________________________
Column: DeviceProtection
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: TechSupport
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: StreamingTV
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: StreamingMovies
Unique Values: ['No' 'Yes' 'No internet service']
____________________________________________________________________________________________________
Column: Contract
Unique Values: ['Month-to-month' 'One year' 'Two year']
____________________________________________________________________________________________________
Column: PaperlessBilling
Unique Values: ['Yes' 'No']
____________________________________________________________________________________________________
Column: PaymentMethod
Unique Values: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
____________________________________________________________________________________________________
Column: MonthlyCharges
Unique Values: [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
____________________________________________________________________________________________________
Column: TotalCharges
Unique Values: ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
____________________________________________________________________________________________________
Column: Churn
Unique Values: ['No' 'Yes']
____________________________________________________________________________________________________

In [32]:
# Convert 'TotalCharges' to float
data['TotalCharges'] = data['TotalCharges'].replace(' ', 0.0)
data['TotalCharges'] = data['TotalCharges'].astype(float)

# Columns to map using a single mapping dictionary
columns_to_map = [
    'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 
    'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
    'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 
    'PaymentMethod', 'PaperlessBilling', 'Churn'
]

In [33]:
# Define the mapping for various values, including gender
value_mapping = {
    'Female': 1, 
    'Male': 0, 
    'Yes': 1, 
    'No': 0, 
    'No phone service': 0, 
    'DSL': 1, 
    'Fiber optic': 1,
    'No internet service': 0, 
    'Month-to-month': 0, 
    'One year': 1, 
    'Two year': 1, 
    'Electronic check': 0, 
    'Mailed check': 0, 
    'Bank transfer (automatic)': 1, 
    'Credit card (automatic)': 1
}

In [34]:
# Apply mapping to the relevant columns
for column in columns_to_map:
    data[column] = data[column].map(value_mapping)

# Check the processed dataset
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,1,0,29.85,29.85,0
1,5575-GNVDE,0,0,0,0,34,1,0,1,1,...,1,0,0,0,1,0,0,56.95,1889.50,0
2,3668-QPYBK,0,0,0,0,2,1,0,1,1,...,0,0,0,0,0,1,0,53.85,108.15,1
3,7795-CFOCW,0,0,0,0,45,0,0,1,1,...,1,1,0,0,1,0,1,42.30,1840.75,0
4,9237-HQITU,1,0,0,0,2,1,0,1,0,...,0,0,0,0,0,1,0,70.70,151.65,1